p{
    font-weight: bold;
    font-size: 16px;
}

.mainbody{
    border:2px dashed darkblue;
}

.dontgo{
    border:2px dashed rgb(100, 226, 248);
}

#Top{
    text-decoration: underline;
}


.emphasizeText{
    font-weight: Bold;
}

.lighttxt{
    color: brown;
}

.body{
    background-color: rgb(239, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    border: 5px solid black;
    margin: 20px;
    padding: 20px;
}

.footer{
    background-color: antiquewhite;
    height:25px;
    line-height:25px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}



